{% extends "base.html" %}

{% block title %} Добавление и редактирование заказов {% endblock %}

{% block content %}
<div class="uk-container uk-margin-top">
    <h1 class="uk-text-center" style="font-family: Times New Roman;">Добавление/редактирование заказа</h1>

    <form class="uk-card uk-card-body uk-card-default uk-form-stacked uk-margin" method="post">
        {% csrf_token %}

        <div class="uk-margin">
            <label class="uk-form-label" for="article">Артикул</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="article" name="article">
                    {% for product in products %}
                    <option value="{{ product.article }}" {% if order.product.article == product.article %}selected{% endif %}>{{ product.article }} | {{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="client">Клиент</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="client" name="client">
                    {% for client in clients %}
                    <option value="{{ client.id }}" {% if order.order.client.id == client.id %}selected{% endif %}>{{ client.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="status">Статус</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="status" name="status">
                    {% for status in statuses %}
                    <option value="{{ status.id }}" {% if order.order.status.id == status.id %}selected{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="pickup_point">Пункт выдачи</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="pickup_point" name="pickup_point">
                    {% for pickup_point in pickup_points %}
                    <option value="{{ pickup_point.id }}" {% if order.order.pickup_point.id == pickup_point.id %}selected{% endif %}>{{ pickup_point.postcode }}, {{ pickup_point.city }}, {{ pickup_point.street }}, {{ pickup_point.house }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="order_date">Дата заказа</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="order_date" type="date" name="order_date" value="{{ order.order.order_date|date:'Y-m-d' }}" required>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="delivery_date">Дата доставки</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="delivery_date" type="date" name="delivery_date" value="{{ order.order.delivery_date|date:'Y-m-d' }}" required>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="quantity">Количество</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="quantity" type="number" name="quantity" placeholder="Введите количество" value="{{ order.quantity }}" required>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="receive_code">Код выдачи</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="receive_code" type="number" name="receive_code" placeholder="Введите код выдачи" value="{{ order.order.receive_code }}" required>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-default uk-width-1-1" style="font-family: Times New Roman;
                    background-color: #00FA9A; color: black; border: 1px solid black;">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}