{% for product in products %}
    <div class="uk-card uk-card-default uk-margin" style="background-color: #7FFF00;">
        <div class="uk-card-body" {% if product.discount > 15 %} style="background-color: #2E8B57;" {% endif %}
        {% if product.quantity == 0 %} style="background-color: cyan;" {% endif %}>
            <div class="uk-flex uk-flex-middle" style="color: black;">
                <div>
                    <img src="{{ product.picture.url }}" width="300" height="300">
                </div>

                <div class="uk-margin-large-left uk-width-1-2">
                    <h3 class="uk-card-title" style="color: black; font-family: Times New Roman;">{{ product.category.name }} | {{ product.name }}</h3>
                    <p>Описание товара: {{ product.description }}</p>
                    <p>Производитель: {{ product.producer.name }}</p>
                    <p>Поставщик: {{ product.supplier.name }}</p>
                    <p>Цена: <span style="color: red;"><del>{{ product.price }} руб.</del></span> {{ product.discount_price }} руб.</p>
                    <p>Единица измерения: {{ product.measure_unit.name }}</p>
                    <p>Количество на складе: {{ product.quantity }}</p>
                </div>

                <div class="uk-margin-auto-left">
                    <p style="font-size: 24px;">Скидка: {{ product.discount }}%</p>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <p class="uk-text-center">Нет товаров</p>
{% endfor %}